h1 {
    color: #3D5300;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    text-decoration: underline;
    text-align: center;

}

h2 {
    color: #3D5300;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: #3D5300;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    text-align: center;
}

body {
    background-color: #ABBA7C;
}

#plats {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
}

#commande {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
}

img {
    border: solid #F09319 2mm;
    border-radius: 50% 50%;
}

#panier {
    background-color: #ABBA7C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.valider {
    border: 1mm ridge #3D5300;
    background-color: #F09319;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-weight: bold;
    display:flex;
    width: 400px;
    justify-content: center;
    flex: 1 0 auto;
    box-shadow: 0 6px #666;
    }


.button {
    border: 1mm ridge #3D5300;
    background-color: #F09319;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-weight: bold;
    width: 40%;
    box-shadow: 0 6px #666;
    justify-content: center;
    align-items: baseline;
}

button:hover {
    background-color: #FFE31A;
    color: blue;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.valider:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    text-decoration: underline;
}

p.ou{
    color: black ;
    font-family : Arial, Helvetica, sans-serif;
    font-size : 100%;
    font-weight: bold;
    text-align : center;
}

/*responsive layout*/
@media (max-width : 800px) {
   #plats {flex-direction: column;}
   .button {width: 40%;
        height: 7%;}
    #panier {flex-direction: column;}
    .valider {width: 100%}
}



