h1 {
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    text-decoration: underline;
    text-align: center;

}

p {
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    text-align: center;
}

body {
    background-color: rgb(104, 128, 17);
}

#plats {
    background-color: rgb(104, 128, 17);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
}

img {
    border: solid rgb(247, 57, 10) 2mm;
    border-radius: 50% 50%;
}

#panier {
    background-color: rgb(236, 122, 15);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.valider {
    border: 1mm ridge rgb(247, 57, 10);
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    display:flex;
    width: 400px;
    justify-content: center;
    flex: 1 0 auto;
    }


.button {
    border: 1mm ridge rgb(247, 57, 10);
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    width: 90%;
    height: 50%;
    box-shadow: 0 6px #0a0a0a;
}

button:hover {
    background-color: yellow;
    color: blue
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    text-decoration: underline;
}

p.ou{
    color: black ;
    font-family : Arial, Helvetica, sans-serif;
    font-size : 100%;
    text-align : center;
    text-decoration: underline;
}

/*responsive layout*/
@media (max-width : 800px) {
   #plats {flex-direction: column;}
   button {width: 90%;
        height: 8%;}
    #panier {flex-direction: column;}
    .valider {width: 100%}
}



